alias cdc='cd /Users/tushar/Downloads/Code'
alias up=caffeinate
alias trash='open /Users/tushar/.Trash'
alias trashc='rm -rfv /Users/tushar/.Trash/*'
alias cask='brew cask'
alias brewu='brew uninstall'
alias brewi='brew install'
alias casku='brew cask uninstall'
alias caski='brew cask install'
alias search='brew search'
alias cls='clear;ls'
alias cl=clear
alias study='killall IINA; killall WhatsApp;open -a "YouTube Music"; open /Users/tushar/Downloads/3-2'
alias muse='IINA /Users/tushar/Downloads/Muse '
alias sup='neofetch'
alias configurezsh='subl ~/.zsh ~/.aliases ~/.zshrc'
alias copy=copyfile
alias a='./a.out'
alias gcc='gcc-9'
alias g++='g++-9'
alias c++='c++-9'
alias walls='open /Users/tushar/Downloads/Walls'
alias anisha='python /Users/tushar/Downloads/Code/a/autologin.py'
alias uke='python /Users/tushar/Downloads/Code/a/uke.py'
alias pip=pip3
alias 100q='code /Users/tushar/Downloads/Code/100questions ; cd /Users/tushar/Downloads/Code/100questions'
alias yas=./done.sh